@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="py-5 service-32">
    <div class="container">
        <div class="row wrap-feature-32">
            <div class="col-md-6"> <img src="~/supplier-image.png" class="img-fluid" width="100%"> </div>
            <div class="col-md-6 align-self-center">
                <h3 class="my-3"></h3>
                <p class="mt-3">
                    This Database Management System Prototype has a Supplier Listing page that enables a user to create a new Supplier or search for an through existing Suppliers to view their telephone details.
                </p>
                <a class="btn btn-info-gradiant btn-md rounded-pill mt-3" asp-area="" asp-page="/Suppliers/Index"><span>Get Started</span></a>
            </div>
        </div>
    </div>
</div>
